@font-face {
  font-family: res_icons;
  src: url("/public/fonts/res_icons.ttf"); }
@font-face {
  font-family: HelveticaBlack;
  src: url("/public/fonts/HelveticaNeueCyr-Black.otf"); }
@font-face {
  font-family: HelveticaBlackItalic;
  src: url("/public/fonts/HelveticaNeueCyr-BlackItalic.otf"); }
@font-face {
  font-family: HelveticaBold;
  src: url("/public/fonts/HelveticaNeueCyr-Bold.otf"); }
@font-face {
  font-family: HelveticaBoldItalic;
  src: url("/public/fonts/HelveticaNeueCyr-BoldItalic.otf"); }
@font-face {
  font-family: HelveticaItalic;
  src: url("/public/fonts/HelveticaNeueCyr-Italic.otf"); }
@font-face {
  font-family: HelveticaLight;
  src: url("/public/fonts/HelveticaNeueCyr-Light.otf"); }
@font-face {
  font-family: HelveticaLightItalic;
  src: url("/public/fonts/HelveticaNeueCyr-LightItalic.otf"); }
@font-face {
  font-family: HelveticaLightItalic;
  src: url("/public/fonts/HelveticaNeueCyr-LightItalic.otf"); }
@font-face {
  font-family: HelveticaMedium;
  src: url("/public/fonts/HelveticaNeueCyr-Medium.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: HelveticaRoman;
  src: url("/public/fonts/HelveticaNeueCyr-Roman.otf"); }
@font-face {
  font-family: HelveticaThin;
  src: url("/public/fonts/HelveticaNeueCyr-Thin.otf"); }
@font-face {
  font-family: HelveticaThinItalic;
  src: url("/public/fonts/HelveticaNeueCyr-ThinItalic.otf"); }
@font-face {
  font-family: HelveticaThinItalic;
  src: url("/public/fonts/HelveticaNeueCyr-UltraLight.otf"); }
@font-face {
  font-family: HelveticaThinItalic;
  src: url("/public/fonts/HelveticaNeueCyr-UltraLightItalic.otf"); }

/*# sourceMappingURL=fonts.css.map */
