@charset "UTF-8";
/*Импорт*/
@import "fonts.css" all;
/*Константы цвета*/
/*Константы рамки*/
/*Медиа запросы*/
/*Абстракции*/
.res-abstract-ul-middle ul, .res-ckeckbox-slider-field ul {
  display: table-row; }
  .res-abstract-ul-middle ul li, .res-ckeckbox-slider-field ul li {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle; }

.res-abstract-dash-bord, .res-switch-blue li a, .res-switch-blue li.res-switch-blue-active a, .res-link-dash {
  border-bottom: 1px dashed; }

.res-abstract-solid-bord {
  border-bottom: 1px solid; }

/*Текст*/
.res-text-grey {
  color: #ADADAD; }

.res-text-dark-grey {
  color: #808080; }

.res-text-darkest-grey, .res-ckeckbox-slider-field li:last-child {
  color: #595959; }

.res-text-brown {
  color: #cc9835; }

.res-text-pink {
  color: #fb9696; }

.res-text-blue {
  color: #45a3e6; }

.res-text-white {
  color: #FCFCFC; }

/*Общие настройки*/
* {
  font-family: HelveticaMedium, Helvetica, Arial, sans-serif; }

/*Фон*/
body {
  background: url("/public/images/background.png");
  filter: alpha(opacity=80) #000; }

/*Навигационное меню*/
.res-navbar {
  background: #000;
  border-radius: 0;
  opacity: 0.9;
  filter: alpha(Opacity=90); }
  .res-navbar .navbar-nav a, .res-navbar .navbar-brand {
    color: #FCFCFC;
    text-decoration: none; }
  .res-navbar .navbar-toggle .icon-bar {
    background: #FCFCFC; }
  .res-navbar .navbar-nav > li:hover, .res-navbar .navbar-nav > li:focus {
    background-color: rgba(9, 9, 9, 0.9); }
  .res-navbar .navbar-nav > li .dropdown-menu {
    background-color: #000;
    opacity: 0.9;
    filter: alpha(Opacity=90);
    /* Прозрачность в IE */ }
  .res-navbar .navbar-nav > li a:hover, .res-navbar .navbar-nav > li a:focus {
    color: #ffc119;
    background-color: transparent; }
  .res-navbar .navbar-nav > li > a {
    font-size: 16px; }
  .res-navbar .navbar-brand {
    box-sizing: content-box;
    padding: 0; }
    .res-navbar .navbar-brand img {
      margin-top: 7px; }

/*footer*/
.res-footer {
  color: #ADADAD;
  background: rgba(9, 9, 9, 0.9); }
  .res-footer .res-footer-about li {
    padding: 0 10px; }
    .res-footer .res-footer-about li:first-child {
      border-right: 1px solid #ADADAD; }
  .res-footer .res-footer-menu {
    margin: 40px 0; }
    .res-footer .res-footer-menu > li {
      margin-right: 40px;
      text-decoration: none; }
      .res-footer .res-footer-menu > li:before {
        content: '\2022';
        font-size: 15px;
        color: #FCFCFC; }
      .res-footer .res-footer-menu > li a {
        color: #FCFCFC; }
        .res-footer .res-footer-menu > li a:hover, .res-footer .res-footer-menu > li a:focus {
          text-decoration: none;
          color: #ffc119; }
  .res-footer .res-footer-info {
    text-align: center;
    margin: 40px 0; }
    .res-footer .res-footer-info ul {
      list-style: none;
      display: inline-block; }
      .res-footer .res-footer-info ul > li {
        text-align: left !important; }

/*buttons*/
.btn.res-button-yellow {
  background: #ffc119; }
  .btn.res-button-yellow.res-button-middle {
    padding: 15px 50px; }
  .btn.res-button-yellow.res-button-big {
    padding: 20px 75px; }
  .btn.res-button-yellow.res-button-small {
    padding: 7px 25px; }
  .btn.res-button-yellow.res-button-full {
    width: 100%; }
  .btn.res-button-yellow.res-button-noradius {
    border-radius: 0; }

/*TODO переписать warning*/
/*fields*/
.res-fields input {
  font-size: 19px;
  color: #000;
  padding: 30px 10px; }
  .res-fields input:hover, .res-fields input:focus {
    border: 1px solid #000;
    box-shadow: none; }
.res-fields.has-error label {
  color: #fb9696; }
.res-fields.has-error input {
  color: #000;
  border: 1px solid #fb9696; }
  .res-fields.has-error input:hover, .res-fields.has-error input:focus {
    border: 1px solid #000;
    box-shadow: none; }

/*search*/
.res-search {
  border-bottom: 2px solid #ADADAD;
  padding: 10px 0; }
  .res-search > span {
    background: transparent;
    border: none;
    font-size: 25px; }
  .res-search .form-control {
    background: transparent;
    height: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: HelveticaLight;
    font-weight: 300;
    font-size: 20px; }

/*res-search-filter*/
.res-search-filter {
  border-bottom: 2px solid #ADADAD; }
  .res-search-filter ul, .res-search-filter button, .res-search-filter {
    width: 100%; }
  .res-search-filter button {
    font-size: 20px;
    background: transparent;
    padding: 20px 20px;
    color: #ADADAD; }
    .res-search-filter button:after {
      content: '\2193';
      float: right !important; }
    .res-search-filter button span {
      float: left; }
      .res-search-filter button span i {
        padding: 0 15px;
        font-size: 25px; }

/*res-pagination*/
.res-pagination {
  width: 100%;
  border-top: 2px solid #ADADAD;
  border-bottom: 2px solid #ADADAD;
  padding: 30px; }
  .res-pagination li {
    margin: auto 12px; }
    .res-pagination li a {
      background: transparent;
      color: #ADADAD;
      border: 2px solid transparent;
      font-size: 20px; }
      .res-pagination li a:hover {
        color: #FCFCFC;
        border: 2px solid #ADADAD;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background: none; }
      .res-pagination li a:focus {
        background: rgba(9, 9, 9, 0.9);
        border: 2px solid #000;
        color: #ffc119;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px; }
    .res-pagination li:first-child a:before {
      content: '\2190';
      padding-right: 10px; }
    .res-pagination li:last-child a:after {
      content: '\2192';
      padding-left: 10px; }

/*res-switch-blue*/
.res-switch-blue li {
  padding: 5px 20px; }
  .res-switch-blue li a {
    border-color: #45a3e6;
    text-decoration: none;
    color: #45a3e6; }
  .res-switch-blue li.res-switch-blue-active {
    border: 1px solid #45a3e6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; }
    .res-switch-blue li.res-switch-blue-active a {
      border-color: transparent; }

/*res-list-dash*/
.res-list-dash li {
  font-size: 16px;
  font-family: HelveticaRoman;
  padding: 0 10px;
  border-right: 1px solid #ADADAD; }
  .res-list-dash li:last-child {
    border-right: none; }

/*Туда сюда*/
.res-ckeckbox-slider {
  position: relative;
  width: 58px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .res-ckeckbox-slider .res-ckeckbox-slider-checkbox {
    display: none; }
  .res-ckeckbox-slider .res-ckeckbox-slider-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px; }
  .res-ckeckbox-slider .res-ckeckbox-slider-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s; }
    .res-ckeckbox-slider .res-ckeckbox-slider-inner:before, .res-ckeckbox-slider .res-ckeckbox-slider-inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 27px;
      padding: 0;
      line-height: 28px;
      font-size: 7px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box; }
    .res-ckeckbox-slider .res-ckeckbox-slider-inner:before {
      font-family: res_icons;
      content: "\f101";
      padding-left: 12px;
      background-color: #5bee81;
      color: #FCFCFC; }
    .res-ckeckbox-slider .res-ckeckbox-slider-inner:after {
      font-family: res_icons;
      content: "\f102";
      padding-right: 12px;
      background-color: #fb9696;
      color: #FCFCFC;
      text-align: right; }
  .res-ckeckbox-slider .res-ckeckbox-slider-switch {
    display: block;
    width: 25px;
    margin: 2px;
    background: #FCFCFC;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 29px;
    border-radius: 2px;
    transition: all 0.3s ease-in 0s; }
  .res-ckeckbox-slider .res-ckeckbox-slider-checkbox:checked + .res-ckeckbox-slider-label .res-ckeckbox-slider-inner {
    margin-left: 0; }
  .res-ckeckbox-slider .res-ckeckbox-slider-checkbox:checked + .res-ckeckbox-slider-label .res-ckeckbox-slider-switch {
    right: 0px; }

/*res-checkbox-slider-field*/
.res-ckeckbox-slider-field li:last-child {
  font-family: HelveticaRoman;
  padding-left: 16px; }

/*res-link-dash*/
.res-link-dash {
  font-family: HelveticaRoman;
  color: #808080;
  border-color: #808080; }
  .res-link-dash, .res-link-dash:hover, .res-link-dash:active {
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
