/*Импорт*/
@import "fonts.css" all;

/*Константы цвета*/
$yellow: #ffc119;

$black: #000;
$black-opacity: rgba(9, 9, 9, 0.9);

$white: #FCFCFC;

$grey: #ADADAD;
$dark-grey: #808080;
$darkest-grey: #595959;

$pink: #fb9696;

$blue: #45a3e6;

$brown: #cc9835;

$green: #5bee81;

/*Константы рамки*/
$border-widget: 2px solid $grey;

/*Медиа запросы*/

/*Абстракции*/
.res-abstract-ul-middle {
  ul {
    display: table-row;
    li {
      display: table-cell;
      list-style-type: none;
      vertical-align: middle;
    }
  }
}

.res-abstract-dash-bord {
  border-bottom: 1px dashed;
}

.res-abstract-solid-bord {
  border-bottom: 1px solid;
}


/*Текст*/

.res-text-grey {
  color: $grey;
}

.res-text-dark-grey {
  color: $dark-grey;
}

.res-text-darkest-grey {
  color: $darkest-grey;
}

.res-text-brown {
  color: $brown;
}

.res-text-pink {
  color: $pink;
}

.res-text-blue {
  color: $blue;
}

.res-text-white {
  color: $white;
}

/*Общие настройки*/
* {
  font-family: HelveticaMedium, Helvetica, Arial, sans-serif
  //font-family: "HelveticaRegular", Helvetica, Arial, sans-serif
}

/*Фон*/
body {
  background: url("/public/images/background.png");
  filter: alpha(opacity=80) $black;

}

/*Навигационное меню*/
.res-navbar {

  background: $black;
  border-radius: 0;
  opacity: 0.9;
  filter: alpha(Opacity=90);

  .navbar-nav a, .navbar-brand {
    color: $white;
    text-decoration: none;
  }

  .navbar-toggle .icon-bar {
    background: $white;
  }

  .navbar-nav > li {

    &:hover, &:focus {
      background-color: $black-opacity;
    }

    .dropdown-menu {
      background-color: $black;

      opacity: 0.9;
      filter: alpha(Opacity=90); /* Прозрачность в IE */
    }

    a {
      &:hover, &:focus {
        color: $yellow;
        background-color: transparent;
      }
    }

    > a {
      font-size: 16px;
    }
  }

  .navbar-brand {

    box-sizing: content-box;
    padding: 0;
    img {
      margin-top: 7px;
    }
  }

}

/*footer*/
.res-footer {

  color: $grey;
  background: $black-opacity;

  .res-footer-about {
    li {
      padding: 0 10px;
      &:first-child {
        border-right: 1px solid $grey;
      }
    }
  }

  .res-footer-menu {

    margin: 40px 0;

    > li {
      margin-right: 40px;
      text-decoration: none;
      &:before {
        content: '\2022';
        font-size: 15px;
        color: $white;
      }

      a {
        color: $white;
        &:hover, &:focus {
          text-decoration: none;
          color: $yellow;
        }
      }
    }

  }

  .res-footer-info {
    text-align: center;
    margin: 40px 0;

    ul {
      list-style: none;
      display: inline-block;
      > li {
        text-align: left !important;

        &.res-footer-info-phone {

        }

        &.res-footer-info-mail {

        }

        &.res-footer-info-marker {

        }
      }
    }

  }
}

/*buttons*/
.btn {
  &.res-button-yellow {
    background: $yellow;

    &.res-button-middle {
      padding: 15px 50px;
    }

    &.res-button-big {
      padding: 20px 75px;
    }

    &.res-button-small {
      padding: 7px 25px;
    }

    &.res-button-full {
      width: 100%;
    }

    &.res-button-noradius {
      border-radius: 0;
    }
  }
}

/*TODO переписать warning*/
/*fields*/
.res-fields {

  input {

    font-size: 19px;
    color: $black;
    padding: 30px 10px;

    &:hover, &:focus {
      border: 1px solid $black;
      box-shadow: none;
    }
  }

  &.has-error {

    label {
      color: $pink;
    }

    input {

      color: $black;
      border: 1px solid $pink;

      &:hover, &:focus {
        border: 1px solid $black;
        box-shadow: none;
      }
    }

  }
}

/*search*/
.res-search {

  border-bottom: $border-widget;
  padding: 10px 0;

  > span {
    background: transparent;
    border: none;
    font-size: 25px;
  }

  .form-control {
    background: transparent;
    height: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: HelveticaLight;
    font-weight: 300;
    font-size: 20px;
  }

}

/*res-search-filter*/
.res-search-filter {

  border-bottom: $border-widget;

  ul, button, & {
    width: 100%;
  }

  button {

    font-size: 20px;
    background: transparent;
    padding: 20px 20px;
    color: $grey;

    &:after {
      content: '\2193';
      float: right !important;
    }

    span {

      float: left;

      i {
        padding: 0 15px;
        font-size: 25px;
      }
    }
  }
}

/*res-pagination*/
.res-pagination {

  width: 100%;
  border-top: $border-widget;
  border-bottom: $border-widget;
  padding: 30px;

  li {

    margin: auto 12px;

    a {
      background: transparent;
      color: $grey;
      border: 2px solid transparent;
      font-size: 20px;

      &:hover {
        color: $white;
        border: 2px solid $grey;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background: none;
      }

      &:focus {
        background: $black-opacity;
        border: 2px solid $black;
        color: $yellow;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;

      }
    }

    &:first-child {
      a:before {
        content: '\2190';
        padding-right: 10px;
      }
    }

    &:last-child {
      a:after {
        content: '\2192';
        padding-left: 10px;
      }
    }
  }
;
}

/*res-switch-blue*/

.res-switch-blue {
  li {

    padding: 5px 20px;

    a {
      @extend .res-abstract-dash-bord;
      border-color: $blue;
      text-decoration: none;
      color: $blue;
    }

    &.res-switch-blue-active {
      border: 1px solid $blue;

      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;

      a {
        @extend .res-abstract-dash-bord;
        border-color: transparent;
      }
    }

  }
}

/*res-list-dash*/
.res-list-dash {

  li {

    font-size: 16px;
    font-family: HelveticaRoman;
    padding: 0 10px;
    border-right: 1px solid $grey;

    &:last-child {
      border-right: none;
    }
  }
}

/*Туда сюда*/
.res-ckeckbox-slider {
  position: relative;
  width: 58px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .res-ckeckbox-slider-checkbox {
    display: none;
  }

  .res-ckeckbox-slider-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
  }

  .res-ckeckbox-slider-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before, &:after {
      display: block;
      float: left;
      width: 50%;
      height: 27px;
      padding: 0;
      line-height: 28px;
      font-size: 7px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
    }

    &:before {
      font-family: res_icons;
      content: "\f101";
      padding-left: 12px;
      background-color: $green;
      color: $white;
    }

    &:after {
      font-family: res_icons;
      content: "\f102";
      padding-right: 12px;
      background-color: $pink;
      color: $white;
      text-align: right;
    }
  }

  .res-ckeckbox-slider-switch {
    display: block;
    width: 25px;
    margin: 2px;
    background: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 29px;
    border-radius: 2px;
    transition: all 0.3s ease-in 0s;
  }

  .res-ckeckbox-slider-checkbox:checked + .res-ckeckbox-slider-label .res-ckeckbox-slider-inner {
    margin-left: 0;
  }

  .res-ckeckbox-slider-checkbox:checked + .res-ckeckbox-slider-label .res-ckeckbox-slider-switch {
    right: 0px;
  }
}

/*res-checkbox-slider-field*/
.res-ckeckbox-slider-field {

  @extend .res-abstract-ul-middle;

  li:last-child {
    @extend .res-text-darkest-grey;

    font-family: HelveticaRoman;
    padding-left: 16px;
  }

}

/*res-link-dash*/
.res-link-dash {

  font-family: HelveticaRoman;

  @extend .res-abstract-dash-bord;

  color: $dark-grey;
  border-color: $dark-grey;

  &, &:hover, &:active {
    text-decoration: none;
  }
}


